:root {
  background: #f0f0f1;
  --font-family: "Archivo", sans-serif;
  --second-family: "Konnect", sans-serif;
  --third-family: "Gilroy-Medium", sans-serif;
  --font3: "Gilroy-SemiBold", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
